:host{
    .task-wrapper{
        display: flex;
        gap: 20px;
        border: 2px solid rgb(228, 219, 219);
       }

    .task-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .completed{
        text-decoration: line-through;
        opacity: 0.5;
    }
    .mat-mdc-outlined-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
}